//COLORS
$color-icon: #FF007F;
$color-sub-icon: #6B93F6;
$color-nav-ln: #ECECEC;
$color-menu: #7022D4;
$color-grad: #FFE1F0;
$color-white:#fff;
$color-back:#475A87;
$color-glance: #6B93FB;
$color-glance-back: #F2F6FF;
$color-txt-what: #324575;
$color-form-back: #EAEEF7;
$color-black: #000;
$color-slide:#EF84B9;
$color-slide2: #E8D1DC;
$color-green: green;

// FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gutter-vertical:3rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;